.recipe-title{
    text-align: center;
    color: #f34242 ;
    padding: 1%;
}
.card {
  border: none;
}
.recipe-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.search-container{
  width: 60%;
}

.recipe-card {
  flex-basis: 50%;
  margin: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}


.recipe-card:hover {
  transform: translateY(-5px);
}
.card-img-container{
  text-align: center;
}
.card-img-top {
  padding: 5%;
  height: 500px;
  width: 500px;
  border-radius: 50px;
}

.card-body {
  padding: 10px;
}

.card-title {
   
  color: #f34242; 
  margin-bottom: 5px;
}

.cooking-time {
  font-size: 14px;  
  color: #f34242; 
  margin-bottom: 10px;
}

.card-text {
  padding-top: 10px;
  font-size: 14px; 
  color: #333;  
}

.card-text-title{
  color: #f34242; 
  font-weight: 500;
}

.card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.like-button {    
    border: none;
    cursor: pointer;
    /* border-color:#ff6b6b; */  
    
  }
  
  .like-button:hover {
    color: #ffcd77; 
  }

  .delete-button{
    color:#f34242 ;
  }